// COLORS
main = rgb(79, 111, 82)
mainHover = rgba(79, 111, 82, 0.42)
hover = darken(main, 50%)
mainLight = rgb(115, 144, 114)
sec = #FFFFFF
lightGray = #F2F2F2
texts = #333333
colorcode = mainLight
blackBase =  #2f2f33
neotree = rgb(236, 227, 206)
// Resolution
cut = 37.5rem